@charset "UTF-8";

@font-face{
	font-family:"PicasProperHand";
	src:url("../font/PicasProperHand.ttf");
}

/* */
#asuna_alo,
#asuna_sao,
#liko,
#kato,
#erika,
#wanko,
#shizuku,
#epsilon,
#haru{
	display:block;
}

#mirai,
#potion_maker,
#claudia{
	display:none;
}

/* models.css */
.asuna{
	top:-18%;
	left:5%;
}

.liko{
	top:-27px;
	left:0;
}

.kato{
	top:-65px;
	left:0;
}

.erika{
	top:-11%;
	left:15%;
}

.wanko{
	top:-5%;
	left:-5%;
}

.shizuku{
	top:-20%;
	left:15%;
}

.epsilon{
	top:-19%;
	left:15%;
}

.haru{
	top:-20%;
	left:7%;
}

/* style.css */
#v{color:#00dc00;}

#o{color:#ffa500;}

#g{color:#bdbdbd;}

a:-webkit-any-link{
	color:#ed143d;
	text-decoration:none;
}

html > *{
	font-family:"PicasProperHand";
}

#info{
	font-size:2.69em;
}
#accepted{
	font-size:1.74em;
}

#glcanvas{
	position:fixed;
	right:0;
	bottom:0;
}

#button{
	position:absolute;
	left:0%;
}

#help p{
	font-size:25px;
}

#aside{
	background:white;
    margin:0 0 0 1076px;
    border-radius:10px;
    padding:10px 0px;
}

#news,
#help{
	width:511px;
	text-align:center;
}

#news h1,
#help h1{
	font-size:70px;
	margin:0;
}

#news table,
#help table{
	font-size:25px;
	margin-left:10%;
	width:80%;
}

.copyright{
	outline:none;
	font-size:.7em;
	color:#cecece;
}

#btnHidebtn{
	outline:none;
}

footer{
	background:black;
	border-radius:10px;
	position:fixed;
	bottom:20px;
	right:20px;
	padding:15px 30px;
}

/* button.css */
button{
	outline:none;
	font-size:14px;
	color:#ffffff;
	padding:10px 20px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:0px -1px 0px rgba(0,0,0,0.4),0px 1px 0px rgba(255,255,255,0.3);
}

button.active{
	background:linear-gradient(to bottom,#3498db,#2980b9);
	background:-moz-linear-gradient(top,#3498db 0%,#2980b9);
	background:-webkit-gradient(linear,left top,left bottom,from(#3498db),to(#2980b9));
	border:1px solid #2980b9;
}

button.inactive{
	background:linear-gradient(to bottom,#e74c3c,#c0392b);
	background:-moz-linear-gradient(top,#e74c3c 0%,#c0392b);
	background:-webkit-gradient(linear,left top,left bottom,from(#e74c3c),to(#c0392b));
	border:1px solid #c0392b;
}

.rwd-table th,
.rwd-table td:before{
	color:#dd5;
}

.rwd-table td:first-child{
	padding-top:.5em;
}

.rwd-table td:last-child{
	padding-bottom:.5em;
}

.rwd-table tr{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-color:#46637f;
}

.rwd-table{
	padding:.5em;
	background:#34495E;
	color:#fff;
	border-radius:.4em;
	overflow:hidden;
	margin:1em 0;
	min-width:300px;
	text-align:left;
}